[submodule "FC2MFTConverter/Gibbed.IO"]
	path = FC2MFTConverter/Gibbed.IO
	url = https://github.com/gibbed/Gibbed.IO.git
[submodule "FC2MFTConverter/NDesk.Options"]
	path = FC2MFTConverter/NDesk.Options
	url = https://github.com/gibbed/NDesk.Options.git
